* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* navigation  bar styling */
nav > .navbar {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: blanchedalmond;
}
.navbar > li {
	list-style-type: none;
}
.navbar > li > a {
	text-decoration: none;
	color: black;
	padding: 20px;
	text-transform: uppercase;
}
.navbar > li > a:hover {
	background-color: white;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
.mycontainer {
	background: url(https://bit.ly/2qdVZ1E);
	background-size: cover;
}
.container1 {
	display: flex;
	justify-content: center;
	padding: 25vh;
	height: 90vh;
	transition: 3s;
}
.container1 > img {
	border-radius: 40%;
	height: 400px;
	width: 400px;
	box-shadow: 0 4px 8px 5px rgba(9, 2, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container1 img:hover {
	transition: 2s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container1 > p {
	font-size: 25px;
	padding: 50px;
	margin-top: 70px;
	color: white;
}
.container1 span {
	color: black;
	font-weight: bold;
}
/* about me styling */
#aboutme {
	height: 30vh;
}
#aboutme h3 {
	padding-top: 13vh;
	font-size: 40px;
}
#aboutme p {
	padding-top: 10px;
	font-size: 20px;
}
#aboutme,
h3,
p {
	text-align: center;
}
/* styling my images on the prjects section */
#myprojects {
	background-color: lightgrey;
}
#myprojects h3 {
	font-size: 40px;
	padding-bottom: 20px;
}
.project {
	display: flex;
	justify-content: center;
}
.moringa > img {
	width: 600px;
	padding-right: 40px;
	height: 400px;
}
.photography > img {
	width: 600px;
	padding-right: 40px;
	height: 400px;
}
