* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation  bar styling */
nav > .navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: 
}
.navbar > li {
  list-style-type: none;
}
.navbar > li > a {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}
.container1 > img {
  border-radius: 50%;
}
